.card {
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    height: 400px;
    box-shadow: 5px 10px #888888;
}

.card-img-top {
    max-width:100%;
    height:180px;
}

.card-text {
    word-wrap: break-word;
    max-height: 100px;
    overflow-y: auto;
}

.card-body {
    height: 150px;
}

.section-header {
    margin-left: 20px;
}