<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          NewZ
        </a>
        <img url="./assets/10895-NN6QH9.jpg"/>
      </div>
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#">All sources</a></li>
        <li class="active"><a routerLink="/newscat/srcs">Sources by category</a></li>
        <li class="active"><a routerLink="/newscat/cat">Headlines by category</a></li>
      </ul>
    </div>
</nav>
<section class="section">
    <router-outlet></router-outlet>
</section>