.card {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
    white-space: break-word; 
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 5px 5px;
    box-shadow: 5px 10px #888888;

    .card-header {
        height: 40px;
        font-size: 20px;
        border-style: solid;
        // border-right-style: solid;
        border-width: 1px;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }

    .card-body {
        height: 110px;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow-y: hidden;
    }

    .card-footer {
        height: 20px;
    }
}

.section-header {
    margin-left: 18px;
}