<div class="row">
    <h2 class="section-header"> Select your favourite source.</h2>
</div>
<div class="row" *ngFor="let sourceRow of sources">
    <div class="col-sm-3" *ngFor="let source of sourceRow">
        <div class="card bg-light">
            <div class="card-header">                
                <a [routerLink]="['/headlines', source['id'], 'all']">{{source['name']}}</a>
            </div>
            <div class="card-body">{{source['description']}}</div> 
            <div class="card-footer"> 
                <a [routerLink]="['/headlines', source['id'], 'all']">Top Headlines</a>
            </div>
        </div>
    </div>
</div>